@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav .navbar-brand {
  order: -1;
  height: 2rem;
  overflow: hidden;
}
nav .navbar-brand img {
  height: 100%;
}
nav button {
  order: -1;
}

#hero .house-image-container {
  height: 13rem;
}
#hero .book-pen-image-container {
  height: 26rem;
}

#services .row > h2 {
  font-size: 1.2rem;
  color: #232526;
  border-left: 3px solid #c0304f;
}
#services .row > p {
  color: #747a82;
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  #services .row > h2 {
    border-left: 5px solid #c0304f;
    font-size: 1.7rem;
  }
  #services .row > p {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  #services .row > h2 {
    font-size: 2.1rem;
  }
  #services .row > p {
    font-size: 0.85rem;
  }
}
#services .row > .card-container .card-wrapper {
  aspect-ratio: 50/51;
  max-width: 20rem;
}
#services .row > .card-container .card-wrapper .card {
  background: #ffe6e0;
  border: none;
  border-radius: 2rem 2rem 2rem 0;
}
#services .row > .card-container .card-wrapper .card .card-icon {
  height: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #fcfcfc;
}
#services .row > .card-container .card-wrapper .card > h3 {
  font-size: 1.2rem;
  color: #232526;
}
#services .row > .card-container .card-wrapper .card > p {
  font-size: 0.8rem;
  color: #747a82;
}
#services .row > .card-container .card-wrapper .card .learn-more {
  height: -moz-fit-content;
  height: fit-content;
}
#services .row > .card-container .card-wrapper .card .learn-more h6 {
  font-size: 0.9rem;
  line-height: 1.3;
}
#services .row > .card-container .card-wrapper .card .learn-more .right-arrow {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #c0304f;
}

#events .row .event-heading-container > h2 {
  font-size: 1.2rem;
  color: #232526;
  border-left: 3px solid #c0304f;
}
#events .row .event-heading-container > p {
  color: #747a82;
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  #events .row .event-heading-container > h2 {
    border-left: 5px solid #c0304f;
    font-size: 1.7rem;
  }
  #events .row .event-heading-container > p {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  #events .row .event-heading-container > h2 {
    font-size: 2.1rem;
  }
  #events .row .event-heading-container > p {
    font-size: 0.85rem;
  }
}
#events .row .card-container .card-wrapper {
  aspect-ratio: 7/10;
  max-width: 21rem;
}
#events .row .card-container .card-wrapper .card-body {
  border-radius: 6px;
  border: 1px solid #dddddd;
}
#events .row .card-container .card-wrapper .card-body .image {
  height: 33%;
  flex: 6;
}
#events .row .card-container .card-wrapper .card-body .image .icon-container {
  height: 1.8rem;
  border-radius: 7px 7px 0 0;
  aspect-ratio: 1/1;
  bottom: 0;
  left: 4%;
}
#events .row .card-container .card-wrapper .card-body .content {
  flex: 9;
  gap: 1rem;
}
#events .row .card-container .card-wrapper .card-body .content > h4 {
  font-size: 0.9rem;
}
#events .row .card-container .card-wrapper .card-body .content .time-location {
  height: 1.1rem;
}
#events .row .card-container .card-wrapper .card-body .content .time-location .time,
#events .row .card-container .card-wrapper .card-body .content .time-location .location {
  font-size: 0.8rem;
  color: #747a82;
  width: -moz-fit-content;
  width: fit-content;
}
#events .row .card-container .card-wrapper .card-body .content > h3 {
  font-size: 1.3rem;
}
#events .row .card-container .card-wrapper .card-body .content > p {
  font-size: 0.9rem;
  color: #747a82;
}
#events .row .card-container .card-wrapper .card-body .content > button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  background: #232526;
  color: #fcfcfc;
}

@media (min-width: 768px) {
  #hero .house-image-container {
    height: 25rem;
  }
  #hero .book-pen-image-container {
    height: 25rem;
  }
  #hero .book-pen-image-container .image:first-child {
    height: 60% !important;
  }
  #hero .book-pen-image-container .image:last-child {
    height: 40% !important;
  }
  #services .row > .card-container .card-wrapper {
    max-width: unset;
  }
  #services .row > .card-container .card-wrapper .card .card-icon {
    height: 4rem;
  }
  #services .row > .card-container .card-wrapper .card > h3 {
    font-size: 1rem;
  }
  #services .row > .card-container .card-wrapper .card > p {
    font-size: 0.56rem;
  }
  #services .row > .card-container .card-wrapper .card .learn-more {
    height: 1rem;
  }
  #services .row > .card-container .card-wrapper .card .learn-more h6 {
    font-size: 0.7rem;
  }
  #events .row .event-heading-container > h2 {
    font-size: 1.2rem;
    color: #232526;
    border-left: 3px solid #c0304f;
  }
  #events .row .event-heading-container > p {
    color: #747a82;
    font-size: 0.85rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  #events .row .event-heading-container > h2 {
    border-left: 5px solid #c0304f;
    font-size: 1.7rem;
  }
  #events .row .event-heading-container > p {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  #events .row .event-heading-container > h2 {
    font-size: 2.1rem;
  }
  #events .row .event-heading-container > p {
    font-size: 0.85rem;
  }
}
@media (min-width: 768px) {
  #events .row .event-heading-container p {
    width: 45%;
  }
  #events .row .card-container .card-wrapper {
    aspect-ratio: 7/11;
    max-width: 25rem;
  }
  #events .row .card-container .card-wrapper .card-body .image {
    flex: 6;
  }
  #events .row .card-container .card-wrapper .card-body .image .icon-container {
    height: 1.8rem;
    bottom: 0;
    left: 4%;
  }
  #events .row .card-container .card-wrapper .card-body .content {
    gap: 0.7rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > h4 {
    font-size: 0.75rem;
  }
  #events .row .card-container .card-wrapper .card-body .content .time-location {
    height: 1rem;
  }
  #events .row .card-container .card-wrapper .card-body .content .time-location .time,
  #events .row .card-container .card-wrapper .card-body .content .time-location .location {
    font-size: 0.65rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > h3 {
    font-size: 1rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > p {
    font-size: 0.7rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > button {
    font-size: 0.75rem;
  }
}
@media (min-width: 992px) {
  nav .navbar-brand {
    order: unset;
    height: 2rem;
    overflow: hidden;
  }
  nav .navbar-brand img {
    height: 100%;
  }
  nav button {
    order: unset;
  }
  #hero .house-image-container,
  #hero .book-pen-image-container {
    height: 35rem;
  }
  #services .row > .card-container .card-wrapper {
    max-width: 22rem;
  }
  #services .row > .card-container .card-wrapper .card .card-icon {
    height: 6rem;
  }
  #services .row > .card-container .card-wrapper .card > h3 {
    font-size: 1.4rem;
  }
  #services .row > .card-container .card-wrapper .card > p {
    font-size: 0.75rem;
  }
  #services .row > .card-container .card-wrapper .card .learn-more {
    height: 1.3rem;
  }
  #services .row > .card-container .card-wrapper .card .learn-more h6 {
    font-size: 0.9rem;
  }
  #events .row .card-container .card-wrapper {
    aspect-ratio: 7/10;
  }
  #events .row .card-container .card-wrapper .card-body .image .icon-container {
    height: 1.8rem;
  }
  #events .row .card-container .card-wrapper .card-body .content {
    flex: 9;
    gap: 1rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > h4 {
    font-size: 0.9rem;
  }
  #events .row .card-container .card-wrapper .card-body .content .time-location {
    height: 1.1rem;
  }
  #events .row .card-container .card-wrapper .card-body .content .time-location .time,
  #events .row .card-container .card-wrapper .card-body .content .time-location .location {
    font-size: 0.8rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > h3 {
    font-size: 1.3rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > p {
    font-size: 0.9rem;
  }
  #events .row .card-container .card-wrapper .card-body .content > button {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */